.container{
    background-color: #005187;
    display: flex;    
    gap: 3rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3em;
    padding-bottom: 3em;
    justify-content:center;
    flex-wrap: wrap;
}

.filters{
    /* padding-top: 20px;
    padding-bottom: 20px; */
}

.link {
    text-decoration: none;
}
