.flag {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 200px;
    height: 150px;
    border-bottom: 1px solid rgb(128, 128, 128);
}

.card {
    background-color: #C4DAFA;
    /* border: 1px solid darkgrey; */
    width: 200px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.301);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.76);
    background-color: white;
}

.titulo {
    color: black;
    text-align: center;
    margin: 0px;
}

.continente {
    color: black;
    text-align: center;
    margin: 0 0 30px 0;
}