.flag {
    margin-top: 20px;
    margin-bottom: 20px;
    width:100px;
    height: 60px;
}

.card{
    text-align: center;
    background-color: rgb(26, 83, 107);
    border: 1px solid darkgrey;
    width: 160px;
    height: 250px;
    border-radius: 10px;
    padding: 25px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.301);
    background-color: rgb(132, 165, 173);
}