.paginate{
    display: flex;
    justify-content:center;
    padding-bottom: 15px;
    background-color:#84b6f4;
    margin-inline: 0px;
    padding-inline: 0px;
}

.botoncito{
    height: 1.8rem;
    width: 2rem;
    color:black;
    background-color:  #c4dafa;
    float: left;
    border: 1px solid transparent;
    text-align: center;
}

.botoncito:hover{
    background-color: white;
    box-shadow: 1px 1px 1px 0 #005187;
}

.botoncitoSelected{
    height: 1.8rem;
    width: 2rem;
    border-radius: 15%;
    color:white;
    background-color: #005187;
    float: left;
    border: 1px solid #005187;
}

@media (max-width: 950px) {
    .botoncito{
        height: 1.2rem;
        width: 1.2rem;
        font-size: 9px;
    }
    .botoncitoSelected{
        height: 1.2rem;
        width: 1.2rem;
        font-size: 9px;
    }
}

@media (max-width: 550px) {
    .botoncito{
        height: 0.85rem;
        width: 0.85rem;
        font-size: 6px;
        padding: 0px;
    }
    .botoncitoSelected{
        height: 0.85rem;
        width: 0.85rem;
        font-size: 6px;
        padding: 0px;
    }
}

@media (max-width: 370px) {
    .botoncito{
        height: 0.7rem;
        width: 0.7rem;
        font-size: 6px;
        padding: 0px;
    }
    .botoncitoSelected{
        height: 0.7rem;
        width: 0.7rem;
        font-size: 6px;
        padding: 0px;
    }
}