@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.inputSearchBar {
    font-family: 'Roboto Condensed', sans-serif;
    height: 2rem;
    width: 20em;
    border-radius: 5px;
    font-size: 15px;
    border: none;
}

.inputSearchBar:focus {
    border: none;
}

.inputSearchBar:hover {
    box-shadow: 0px 5px 20px 0 #005187;
}

@media (max-width: 950px) {
    .inputSearchBar{
        width: 10em;
        font-size: 10px;
    }
}

@media (max-width: 540px){
    .inputSearchBar{
        width: 8em;
        font-size: 10px;
        height: 1rem;
    }
}