.filters{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    border-radius: 10%;
}

.alphabetic{
    margin-left: 20px;
    
    margin-block: 15%;
    justify-content:center;
}

.continents{
    
    margin-left: 20px;
    margin-block: 15%;
}

.population{
    
    margin-left: 20px;
    margin-block: 15%;
}