.filters{
    display: flex;
    border-radius: 10%;
    justify-content:space-around;
}

.searchBar{
    justify-content:center;

}

.alphabetic{
    display: flex;
    justify-content:center;
}

.continents{
    display: flex;
    justify-content:center;
}

.population{
    display: flex;
    justify-content:center;
}
