.mainContainer{
    display: flex;
    flex-direction: row;
    background-color: rgb(21, 121, 139);
    justify-content: space-around;
    border-radius: 15px;
    border: 1px solid rgb(31, 55, 110);
    
}