.mainContainer{
    display: flex;
    flex-direction: row;
    background-color: #4d82bc;
    justify-content: space-around;
    height: 3em;
    align-items: center;
    width: 100%;
}

.botonHome{
    transition-duration: 0.1s;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 25px;
    justify-content: flex-start;
    height: 2rem;
    width: 8em;
}

.botonHome:hover {
    background-color: #4d82bc;
    color: white;
    border: 2px solid white;
}

.botonActivities{
    transition-duration: 0.1s;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 25px;
    justify-content: center;
    height: 2rem;
    width: 8em;
}

.botonActivities:hover {
    background-color: #4d82bc;
    color: white;

}

.botonForm{
    transition-duration: 0.1s;
    border-radius: 8px;
    border: 1px solid transparent;
    font-size: 25px;
    justify-content: flex-end;
    height: 2rem;
    width: 8em;
}

.botonForm:hover {
    background-color: #4d82bc;
    color: white;
    border: 2px solid white;
}



@media (max-width: 950px) {
    .botonHome{
        border-radius: 6px;
        font-size: 14px;
        height: 2rem;
        width: 8rem;
        font-weight: 600;
    }
    .botonForm{
        border-radius: 6px;
        font-size: 14px;
        height: 2rem;
        width: 8rem;
        font-weight: 600;
    }
}

@media (max-width: 600px){
    .botonHome{
        border-radius: 4px;
        font-size: 8px;
        height: 1rem;
        width: 5rem;
        font-weight: 400;
    }
    .botonForm{
        border-radius: 4px;
        font-size: 8px;
        height: 1rem;
        width: 5rem;
        font-weight:400;
    }
    .mainContainer{
        height: 2em;
        padding: 0px;
    }
}

@media (max-width: 370px) {
    .botonHome{
        border-radius: 4px;
        font-size: 8px;
        height: 1rem;
        width: 4rem;
        font-weight: 400;
    }
    .botonForm{
        border-radius: 4px;
        font-size: 7px;
        height: 1rem;
        width: 4rem;
        font-weight:400;
    }

}